.cart-value {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 100%;
}

.cart-value-warning[href] {
    background-color: #c67605;
}

#cart-value-id {
    font-size: 12px;
    background: #404040;
    color: #fff;
    padding: 0px 5px;
    vertical-align: top;
    margin-left: -5px;
}

.header_options_after_xl_scrn {
    display: none;
}

.header_options_before_xl_scrn {
    height: 70px;
}

.header_bg {
    background: white;
}

.option_after_md_scrn {
    display: none;
}

.product_card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22)
}

.BelieveCardBeforeMDScrn {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22)
}

.believe_car_after_md_scrn {
    display: none;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.heading_para_size {
    font-size: 16px;
}

@media (max-width: 1199px) {
    .header_options_before_xl_scrn {
        display: none;
    }

    .header_options_after_xl_scrn {
        display: block;
        height: 70px;
    }

    .header_bg {
        background: #000;
    }
}

@media (max-width: 767px) {
    .option_after_md_scrn {
        display: block;
    }

    .option_before_md_scrn {
        display: none;
    }

    .believe_car_after_md_scrn {
        display: block;
    }

    .believe_car_before_md_scrn {
        display: none;
    }
}

@media (min-width: 768px) {
    .freshness_journey_heading {
        font-size: 52px;
    }

    .know_your_tea_heading {
        font-size: 52px;
    }

    .know_your_ghee_heading {
        font-size: 60px;
    }

    .review_and_rating_heading {
        font-size: 60px;
    }

    .How_to_Check_Ghee_Purity_heading {
        font-size: 60px;
    }

    .product_speacfication_heading {
        font-size: 52px;
    }

    .your_experience {
        font-size: 52px;
    }

    .heading_para_size {
        font-size: 22px;
    }

    .why_choose_us_heading {
        font-size: 52px;
    }

    .benefits_heading {
        font-size: 52px;
    }

    .related_project_heading {
        font-size: 52px;
    }

    .cartificate_heading {
        font-size: 52px;
    }
}